[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.7"
django = "*"
django-widget-tweaks = "==1.4.8"
pytz = "==2020.1"
sqlparse = "==0.3.1"
pillow = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
